xml-data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- xml_data/example.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="est-safi">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="adminApp" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="adminEcole" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="filieres"></xs:element>
            <xs:element ref="licences"></xs:element>
            <xs:element ref="modules"></xs:element>
            <xs:element ref="departements"></xs:element>
            <xs:element ref="condidats"></xs:element>
            <xs:element ref="matieres"></xs:element>
            <xs:element ref="preinscriptions1"></xs:element>
            <xs:element ref="preinscriptions-2"></xs:element>
            <xs:element ref="diplomeBac2"></xs:element>
            <xs:element ref="diplomeBac"></xs:element>
            <xs:element ref="concours"></xs:element>
            <xs:element ref="dossiers-physiques"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <!-- element commun -->
   <xs:element name="nom" type="xs:string"/>
   <xs:element name="prenom" type="xs:string"/>
   <xs:element name="cin" type="cinType"></xs:element>
   <xs:element name="email" type="emailType"/>
   <xs:element name="password" type="passwordType"/>
   <xs:element name="tele" type="teleType"/>
   <xs:element name="cne" type="cne"/>
   <xs:element name="role" type="roleType"></xs:element>
   <xs:simpleType name="roleType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="admin"></xs:enumeration>
         <xs:enumeration value="directeur-adjoint"></xs:enumeration>
         <xs:enumeration value="directeur-generale"></xs:enumeration>
         <xs:enumeration value="chef-departement"></xs:enumeration>
         <xs:enumeration value="chef-scolarite"></xs:enumeration>
         <xs:enumeration value="condidat"></xs:enumeration>

      </xs:restriction>
   </xs:simpleType>


   <xs:simpleType name="teleType">
   <xs:restriction base="xs:string">
      <!-- Define a pattern for Morocco phone number -->
      <xs:pattern value="\+212-6[0-9]{8}|06[0-9]{8}"/>
   </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="cne">
   <xs:restriction base="xs:string">
<!-- Define a pattern for Morocco CNE number -->
<xs:pattern value="[A-Z]\d{9}"/>
   </xs:restriction>
</xs:simpleType>

   <xs:simpleType name="emailType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="passwordType">
      <xs:restriction base="xs:string">
         <xs:pattern value=".{8,}"/> <!-- Minimum length of 8 characters -->
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="cinType">
      <xs:restriction base="xs:string">
         <!-- Pattern for CIN: Two letters followed by up to six numbers -->
         <xs:pattern value="[A-Za-z]{2}[0-9]{1,6}"/>
      </xs:restriction>
   </xs:simpleType>



   <!-- element adminApp -->
   <xs:element name="adminApp">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nom"/>
            <xs:element ref="email"/>
            <xs:element ref="password"/>
            <xs:element ref="role"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>


<!-- ######################################################################################################################## -->
   <!-- element adminEcole -->
   <xs:element name="adminEcole">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="directeur-generale" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="directeur-adjoint" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="chef-departement" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="chef-scolarite" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>


<!-- ######################################################################################################################## -->
   <!-- sub element adminEcole -->

   <!-- directeur generale -->
   <xs:element name="directeur-generale">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="prenom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tele" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="cin" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="email" minOccurs="1" maxOccurs="1" ></xs:element>
            <xs:element ref="password" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="role"></xs:element>
         </xs:sequence>
         <xs:attribute name="idDirecteur-generale" type="xs:ID" use="required"></xs:attribute>

      </xs:complexType>
   </xs:element>

   <!-- directeur adjoint -->
   <xs:element name="directeur-adjoint">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="prenom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tele" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="cin" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="email" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="password" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="role"></xs:element>
         </xs:sequence>
         <xs:attribute name="idDirecteur-adjoint" type="xs:ID" use="required"></xs:attribute>

      </xs:complexType>
   </xs:element>

   <!-- chef-departemrnt -->
   <xs:element name="chef-departement">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="prenom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tele"></xs:element>
            <xs:element ref="cin" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="email" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="password" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="role"></xs:element>
         </xs:sequence>
         <xs:attribute name="idChef-departement" type="xs:ID" use="required"></xs:attribute>

      </xs:complexType>
   </xs:element>

   <!-- chef-scolarite -->
   <xs:element name="chef-scolarite">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="prenom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tele"></xs:element>
            <xs:element ref="cin" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="email" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="password" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="role"></xs:element>
         </xs:sequence>
         <xs:attribute name="idChef-scolarite" type="xs:ID" use="required"></xs:attribute>

      </xs:complexType>
   </xs:element>

   <!-- ######################################################################################################################## -->
   <!-- filieres -->
   <xs:element name="nomFiliere" type="xs:string"></xs:element>
   <xs:element name="filieres">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="filiere" minOccurs="1" maxOccurs="unbounded"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!-- sub filieres 1-->
   <xs:element name="filiere">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nomFiliere" minOccurs="1"/>
         </xs:sequence>
         <xs:attribute name="refDepatement" type="xs:IDREF" use="required" />
         <xs:attribute name="idFiliere" type="xs:ID" use="required" />
      </xs:complexType>
   </xs:element>

<!-- ######################################################################################################################## -->
   <!-- licence -->
   <xs:element name="nomLicence" type="xs:string"></xs:element>
   <xs:element name="licences">
      <xs:complexType>
         <xs:sequence>
            <xs:sequence>
               <xs:element ref="licence" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!-- sub licence -->
   <xs:element name="licence">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nomLicence" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
         <xs:attribute name="refDepartement" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="refFiliere" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="idLicence" type="xs:ID" use="required" />

      </xs:complexType>
   </xs:element>

      <!-- ######################################################################################################################## -->
   <!-- condidats -->
      <xs:element name="condidats">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="condidat" minOccurs="1" maxOccurs="unbounded"></xs:element>
         </xs:sequence>  
      </xs:complexType>  
      </xs:element>  
   <xs:element name="condidat">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nom" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="prenom" minOccurs="1" maxOccurs="1"/>
            <xs:element name="date_naissance" type="xs:date"/>
            <xs:element ref="tele" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="cin" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="email" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="password" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="role" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
         <xs:attribute name="cne" type="xs:ID"></xs:attribute>
      </xs:complexType>
   </xs:element>

   <!-- ######################################################################################################################## -->
   <!-- departements -->
   <xs:element name="nomDepartement" type="xs:string"></xs:element>
   <xs:element name="departements">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="departement" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="departement">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nomDepartement" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
         <xs:attribute name="refChefDepartement" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="idDepartement" type="xs:ID" use="required"></xs:attribute>
      </xs:complexType>
   </xs:element>

   <!-- ######################################################################################################################## -->
   <!-- modules -->
   <xs:element name="idModule" type="xs:ID"></xs:element>
   <xs:element name="nomModule" type="xs:string"></xs:element>
   <xs:element name="nbreHeure" type="xs:duration"></xs:element>
   <xs:element name="modules">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="module" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="module">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nomModule" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="nbreHeure" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
         <xs:attribute name="refFiliere" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="idModule" type="xs:ID" use="required"></xs:attribute>
      </xs:complexType>
   </xs:element>
   <!-- ######################################################################################################################## -->
   <!-- matieres -->
   <xs:element name="nomMatiere" type="xs:string"></xs:element>
   <xs:element name="matieres">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="matiere" minOccurs="1"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="matiere">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nomMatiere" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
         <xs:attribute name="refModule" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="idMatiere" type="xs:ID" use="required"></xs:attribute>
      </xs:complexType>
   </xs:element>

   <!-- ######################################################################################################################## -->
   <!-- diplomeBbac+2 -->

   
      <xs:simpleType name="montionBac2M">
         <xs:restriction base="xs:string">
            <xs:enumeration value="tres bien"></xs:enumeration>
            <xs:enumeration value="bien"></xs:enumeration>
            <xs:enumeration value="assez bien"></xs:enumeration>
            <xs:enumeration value="passable"></xs:enumeration>
         </xs:restriction>
      </xs:simpleType>
      
      <xs:simpleType name="typeBac2M">
         <xs:restriction base="xs:string">
            <xs:enumeration value="DTS"></xs:enumeration>
            <xs:enumeration value="BTS"></xs:enumeration>
            <xs:enumeration value="DUT"></xs:enumeration>
         </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="typeBacM">
         <xs:restriction base="xs:string">
            <xs:enumeration value="PC"></xs:enumeration>
            <xs:enumeration value="SVT"></xs:enumeration>
            <xs:enumeration value="MATH"></xs:enumeration>
         </xs:restriction>
      </xs:simpleType>
   

   <xs:element name="nomBac2" type="xs:string"></xs:element>
   <xs:element name="dateObtnBac2" type="xs:date"></xs:element>
   <xs:element name="region" type="xs:string"></xs:element>
   <xs:element name="academie" type="xs:string"></xs:element>
   <xs:element name="noteBac2" type="xs:double"></xs:element>
   <xs:element name="montionBac2" type="montionBac2M"></xs:element>
   <xs:element name="typeBac2" type="typeBac2M"></xs:element>
   
   
   
   <xs:element name="dateObtnBac" type="xs:date"></xs:element>
   <xs:element name="noteBac" type="xs:double"></xs:element>
   <xs:element name="montionBac" type="montionBac2M"></xs:element>
   <xs:element name="typeBac" type="typeBacM"></xs:element>
   


   <xs:element name="diplomeBac2">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="bac2" minOccurs="1" maxOccurs="unbounded"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="bac2">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="typeBac2" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="dateObtnBac2" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="noteBac2" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="montionBac2" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
         <xs:attribute name="cne" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="idBac2" type="xs:ID" use="required"></xs:attribute>
      </xs:complexType>


      <!-- diplomeBbac -->
   </xs:element>
   <xs:element name="diplomeBac">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="bac" minOccurs="1" maxOccurs="unbounded"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
<xs:element name="bac">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="typeBac" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="dateObtnBac" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="region" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="academie" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="noteBac" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="montionBac" minOccurs="1" maxOccurs="1"></xs:element>
         </xs:sequence>
         <xs:attribute name="cne" type="xs:IDREF" use="required"></xs:attribute>
         <xs:attribute name="idBac" type="xs:ID" use="required"></xs:attribute>
      </xs:complexType>

   </xs:element>

<!-- ######################################################################################################################## -->
<!-- CONCOURs -->
<xs:element name="dateCouncour" type="xs:date"></xs:element>
<xs:element name="condidatConcours">
   <xs:complexType>
      <xs:attribute name="cne" type="xs:IDREF"></xs:attribute>
   </xs:complexType>
</xs:element>



<xs:element name="concours">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="concour"></xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="concour">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="dateCouncour" minOccurs="1" maxOccurs="1"></xs:element>
         <xs:element ref="condidatConcours" minOccurs="1" maxOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="idConcours" type="xs:ID"></xs:attribute>
   </xs:complexType>
</xs:element>

<!-- ######################################################################################################################## -->
<!-- dossier physique -->
<xs:element name="pdf-cin" type="xs:boolean"></xs:element>
<xs:element name="pdf-bac" type="xs:boolean"></xs:element>
<xs:element name="pdf-bac2" type="xs:boolean"></xs:element>
<xs:element name="dossiers-physiques">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="dossier-physique"></xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="dossier-physique">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="pdf-cin" minOccurs="1" maxOccurs="1"></xs:element>
         <xs:element ref="pdf-bac" minOccurs="1" maxOccurs="1"></xs:element>
         <xs:element ref="pdf-bac2" minOccurs="1" maxOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="idDossier" type="xs:ID"></xs:attribute>
      <xs:attribute name="cne" type="xs:IDREF"></xs:attribute>
   </xs:complexType>
</xs:element>

      <!-- ######################################################################################################################## -->
   <!-- preinscription-1 -->
      <xs:element name="preinscriptions1">
         <xs:complexType>
            <xs:sequence>
               <xs:element ref="preinscription1"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
      <xs:element name="preinscription1">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="status" type="xs:boolean"/>
               <xs:element name="datePreinscription" type="xs:date"/>
            </xs:sequence>  
            <xs:attribute name="idBac" type="xs:IDREF"></xs:attribute>
            <xs:attribute name="idBac2" type="xs:IDREF"></xs:attribute>
            <xs:attribute name="idLicence" type="xs:IDREF"></xs:attribute>
            <xs:attribute name="idpreinscription-1" type="xs:ID"></xs:attribute>
            </xs:complexType>  
      </xs:element>  

      <!-- ######################################################################################################################## -->
   <!-- preinscription-2 -->
      <xs:element name="preinscriptions-2">
         <xs:complexType>
            <xs:sequence>
               <xs:element ref="preinscription-2"></xs:element>
            </xs:sequence>
         </xs:complexType>    
      </xs:element>       
      <xs:element name="preinscription-2">
         <xs:complexType>   
            <xs:sequence>   
               <xs:element name="status" type="xs:boolean"/>
               <xs:element name="datePhase2" type="xs:date"/>
            </xs:sequence>   
            <xs:attribute name="idLicence" type="xs:IDREF"></xs:attribute>
            <xs:attribute name="idDossier" type="xs:IDREF"></xs:attribute>
            <xs:attribute name="idpreinscription-2" type="xs:ID"></xs:attribute>
         </xs:complexType>  
      </xs:element>        


   
</xs:schema>